@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');  
body{
    font-family: "Inter", sans-serif;
    margin: 0;
    height: 70px;
}
.header{
    width: 100%;
    height: 70px;
    box-shadow: 1px 1px 0px black;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.media ul li{
    list-style-type: none;
}
.header-logo{
    font-weight: 600;
    font-size: 30px;
    padding: 17px 30px;
     
}
.header-logo a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}
.media li{
    display: inline;
    padding: 40px;
}
.media ul li a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: black;
    transition: 0.4s;
    
}
.media ul li a:hover{
    text-shadow: 0px 1px 3px black;
    color: black;
    font-size: 16px;
}
.media ul li a:active{
    color: rgb(158, 154, 154);
    transition: 0s;
}
.media ul{
    margin-right: 350px;
}
.buttons ul li{
    list-style-type: none;
}
.buttons ul li a{
    text-decoration: none;
}
.main{
    padding-left: 50px;
    max-width: 550px;
}
.txt{
    margin-top: 30px;
    font-size: 13px;
}
.p1{
    margin-top: 25px;
    font-size: 25px;
    font-weight: 700;
}
.p3 ul li{
    list-style-type: none;
    font-weight: 600;
    margin-top: 3px;
}
.p2{
    font-weight: 500;
}
.button{
    display: flex;
    justify-content: center;
    margin-right: 400px;
    margin-top: -24px;
}
.button p{
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.button p:hover{
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}
.button p a{
    text-decoration: none;
    color: white;
}
.img22{
    display: flex;
    align-items: end;
    justify-content: end;
}
.img22 img{
    width: 350px;
    padding-right: 70px;
    margin-top: -500px;
    padding-bottom: 50px;
}
